<div class="container2">

  <div class="item2">
    <h1>Result</h1>
    <p><%= @results %></p>
  </div>

  <div class="item2">
    <%= link_to "Play again", new_path %>
  </div>

  <div class="item2">
    <h2> <%= @final_score %></h2>
  </div>

</div>


